<script lang="ts">
  import titleContainer from "../assets/Subtract.svg"
</script>

<div class="w-fit h-fit py-3 px-12 bg-custom-black-100 relative mx-auto top-8 rounded-xl flex justify-center items-center">
  <h1 class="font-kalam text-xl">Memory game</h1>
</div>

